In [2]:
#preprocessing


import pandas as pd
from bs4 import BeautifulSoup
import re

# Load the dataset (replace with your dataset path)
dataset_path = r'C:\Users\rajat\Desktop\RACHANA\archive\blogtext.csv'
dataone= pd.read_csv(dataset_path)
data=dataone.head(1000)

def remove_html_tags(text):
    clean_text = re.sub(r'<.*?>', '', text)  # Remove HTML tags
    clean_text = re.sub(r'&[a-zA-Z0-9]+;', '', clean_text)  # Remove special characters like &amp;, &lt;, etc.
    return clean_text

# Apply HTML tag and special character removal to each blog post
data['cleaned_text'] = data['text'].apply(remove_html_tags)

# Save the preprocessed data to a new CSV file
preprocessed_dataset_path = "preprocessed_dataset.csv"
data.to_csv(preprocessed_dataset_path, index=False)
data.head()

C:\Users\rajat\AppData\Local\Temp\ipykernel_12144\322866370.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cleaned_text'] = data['text'].apply(remove_html_tags)

,id,gender,age,topic,sign,date,text,cleaned_text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks to Yahoo!'s Toolbar I can ...

In [ ]:
#tfidf 



from sklearn.feature_extraction.text import TfidfVectorizer

# Load the preprocessed dataset (replace with your preprocessed dataset path)
preprocessed_dataset_path = r'C:\Users\racha\preprocessed_dataset.csv'
data = pd.read_csv(preprocessed_dataset_path)

# Initialize the TF-IDF vectorizer
vectorizer = TfidfVectorizer(max_features=50)  # You can adjust the number of features (vocabulary size)

# Fit and transform the cleaned content to TF-IDF vectors
tfidf_matrix = vectorizer.fit_transform(data['cleaned_text'])

# Convert the TF-IDF matrix to a DataFrame for better understanding
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

# Save the TF-IDF DataFrame to a new CSV file
tfidf_dataset_path = "tfidf_dataset.csv"
tfidf_df.to_csv(tfidf_dataset_path,Â index=False)